@import './../../stylesheets/common.scss';

.nav {
	padding: 20px;

	&List{
		list-style-type: none;

		&Item + li {
			margin-top: 10px;
		}

		&Item a{
			color: $color-text;
			text-decoration: none;

			&:hover,
			&.active {
				text-decoration: underline;
			}
		}
	}
}
