* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	background-color: #f3f3f3;
}

ul,
li {
	padding: 0;
	margin: 0;
}

.inner {
	max-width: 1180px;
	margin: 0 auto;
}

.app-wrapper {
	display: flex;
	flex-direction: column;

	&-header {
		background-color: #009dff;
	}

	&-main {
		.inner {
			display: flex;
		}
	}
	
	&-navbar {
		background-color: burlywood;
		max-height: 100%;
		flex-basis: 20%;
	}

	&-content {
		flex-grow: 1;
		background-color: cornflowerblue;
	}
}