@import './stylesheets/common.scss';

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	background-color: #f3f3f3;
	color: $color-text;
}

h1 {
	margin: 0;
	padding: 0;
}

ul,
li {
	padding: 0;
	margin: 0;
}

button {
	@include button-main;
}

.inner {
	max-width: 1180px;
	margin: 0 auto;
}

.app-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	&-header {
		background-color: $color-main;
	}

	&-main {
		display: flex;
		flex-grow: 1;

		.inner {
			flex-grow: 1;
			display: flex;
		}
	}
	
	&-navbar {
		min-height: 100%;
		flex-basis: 20%;
		border-left: 1px $color-main solid;
	}

	&-content {
		min-height: 100%;
		flex-grow: 1;
		border-right: 1px $color-main solid;
		border-left: 1px $color-main solid;
	}
}