.dialogs {
	display: flex;
	padding: 20px;
	height: 100%;

	&Items {
		flex-basis: 25%;
	}

	&Messages {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: space-between;
	}
}
